:root{
    --spacing  : 0px;
    --blur : 0px;
    --color : #fff;
}

img{
    padding: var(--spacing);
    background-color: var(--color);
    filter: blur(var(--blur));
}
.hl{
    color: var(--color);
}
body {
    text-align: center;
    background: #193549;
    color: white;
    font-family: 'helvetica neue', sans-serif;
    font-weight: 100;
    font-size: 50px;
}

.controls {
    margin-bottom: 50px;
}

input {
    width:100px;
}